{# Dywee\ProductBundle\Resources\View\Stock\dashboard.html.twig #}

{%  extends "DyweeProductBundle::admin.html.twig" %}

{% block breadcrumb %}
    <li><a href="#"><i class="fa fa-beer"></i> Stock</a></li>
    <li class="active"><i class="fa fa-list-alt"></i> Gestion des paramètres de stock</li>
{% endblock %}

{% block viewBody %}
    {#<a href="{{ path('dywee_product_option_add') }}" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Ajouter</a>#}

    <div class="title-heading">
        <h1 class="text-center">Paramètres généraux de stock</h1>
    </div>

    {{ form(form) }}

{% endblock %}