<div class="small-box bg-yellow">
    <div class="inner">
        <h3>{{ count }}</h3>

        <p>Produits actifs</p>
    </div>
    <div class="icon">
        <i class="fa fa-beer"></i>
    </div>
    <a href="{{ path('product_table') }}" class="small-box-footer">Liste complète <i class="fa fa-angle-right"></i></a>
</div>