{# Dywee\EshopBundle\Resources\View\Product\add.html.twig #}

{%  extends "DyweeProductBundle::admin.html.twig" %}

{% block title %} Creation d'un produit - {{ parent() }} {% endblock %}

{% block body %}
    <h1>Nouveau produit</h1>

    {% include "DyweeProductBundle:Product:form.html.twig" %}

{% endblock %}

{% block footerJavascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/dyweeproduct/js/form.js') }}"></script>
{% endblock %}