{# Dywee\EshopBundle\Resources\View\Product\add.html.twig #}

{% extends '@DyweeProductBundle/admin.html.twig' %}

{% block metaTitle %} Creation d'un produit - {{ parent() }} {% endblock %}

{% block body %}
    <div class="title-heading">
        <h1>Nouveau produit</h1>
    </div>

    {% include '@DyweeProductBundle/Product/form.html.twig' %}

{% endblock %}

{% block footerJavascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/dyweeproduct/js/form.js') }}"></script>
{% endblock %}
