{# Dywee\ProductBundle\Resources\View\Eshop\table.html.twig #}

{%  extends "DyweeProductBundle::admin.html.twig" %}

{% block body %}

    {% if products|length > 0 or filterActive is defined and filterActive == true %}
        <div class="row" id="container">
            <div class="col-md-9" id="table">

            </div>
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-search"></i> Recherche de produit</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body" id="productForm">
                        {#{{ form(search) }}#}
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <p>Vous n'avez pas encore ajouté de produit.</p>
        <p><a href="{{ path('product_add') }}" class="btn btn-success"><i class="fa fa-plus"></i> Ajouter un produit</a></p>
    {% endif %}

{% endblock %}

{% block footerJavascript %}
    <script type="text/babel" src="{{ asset('bundles/dyweeproduct/js/table.js') }}" />
{% endblock %}