{# Dywee\EshopBundle\Resources\View\Product\add.html.twig #}

{% extends '@DyweeProductBundle/admin.html.twig' %}

{% block metaTitle %} Creation d'un abonnement - {{ parent() }} {% endblock %}

{% block body %}
    <h1>Nouveau pack</h1>

    {% include '@DyweeProductBundle/ProductSubscription/form.html.twig' %}

{% endblock %}

{% block footerJavascript %}
    {{ parent() }}
    <script>
        dywee_handle_form_collection('product_subscription_subscriptionElements', {auto_add: false});
    </script>
    <script src="{{ asset('bundles/dyweeproduct/js/form.js') }}"></script>
{% endblock %}
