{% extends 'DyweeProductBundle:BaseProduct:form.html.twig' %}

{% block productFormNavTabs %}
    {{ parent() }}
    <li><a href="#pack" data-toggle="tab"><i class="fa fa-cog"></i> Contenu de l'abonnement</a></li>
{% endblock %}

{% block productFormTabContent %}
    {{ parent() }}
    <div class="tab-pane fade in" id="pack">
        <div class="col-md-12">

            {{ form_errors(form.subscriptionElements) }}

            <div class="col-md-9">
                {{ form_widget(form.subscriptionElements) }}
            </div>

        </div>
    </div>
{% endblock %}