{# Dywee\ProductBundle\Resources\View\Category\table.html.twig #}

{%  extends "DyweeProductBundle::admin.html.twig" %}

{% block body %}

    <div class="title-heading">
        <a href="{{ path('product_category_add') }}" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Ajouter</a>
        <h1 class="text-center">Liste des Catégories de produit</h1>
    </div>

    {% include 'DyweeProductBundle:Category:miniTable.html.twig' %}

{% endblock %}