{# Dywee\ProductBundle\Resources\View\Eshop\table.html.twig #}

{%  extends "DyweeProductBundle::admin.html.twig" %}

{% block body %}
    <a href="{{ path('product_service_add') }}" class="btn btn-success action-right"><i class="fa fa-plus"></i> Ajouter</a>

    <div class="title-heading">
        <h1 class="text-center">Liste des services</h1>
    </div>

    {% if products|length > 0 or filterActive is defined and filterActive == true %}
        <div class="row">
            <div class="col-md-9">
                <div class="box box-success">
                {% include 'DyweeProductBundle:ProductService:miniTable.html.twig' %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-search"></i> Recherche d'un service</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        {#{{ form(search) }}#}
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <p>Vous n'avez pas encore ajouté d'abonnements.</p>
        <p><a href="{{ path('product_service_add') }}" class="btn btn-success"><i class="fa fa-plus"></i> Ajouter un service</a></p>
    {% endif %}

{% endblock %}