{# Dywee\EshopBundle\Resources\View\Product\add.html.twig #}

{%  extends "DyweeProductBundle::admin.html.twig" %}

{% block title %} Creation d'un produit louable - {{ parent() }} {% endblock %}

{% block body %}
    <h1>Nouveau produit louable</h1>

    {% include "DyweeProductBundle:RentableProduct:form.html.twig" %}

{% endblock %}

{% block footerJavascript %}
    {{ parent() }}
    <script>
        dywee_handle_form_collection('product_pack_packElements');
    </script>
    <script src="{{ asset('bundles/dyweeproduct/js/form.js') }}"></script>
{% endblock %}