{# Dywee\EshopBundle\Resources\View\Brand\update.html.twig #}

{%  extends "DyweeProductBundle::admin.html.twig" %}

{% block metaTitle %} Edition d'une marque produit - {{ parent() }} {% endblock %}

{% block body %}
    <div class="title-heading">
        <h1>Edition d'une marque</h1>
    </div>

    {% include "DyweeProductBundle:Brand:form.html.twig" %}

{% endblock %}

{% block footerJavascript %}
    <script>
        $(document).ready(function(){
            $("#brand_imageFile_file").fileinput({showUpload: false, showRemove: false});
        });
    </script>
{% endblock %}