{# Dywee\ProductBundle\Resources\View\Brand\table.html.twig #}

{% extends '@DyweeProductBundle/admin.html.twig' %}

{% block body %}

    <div class="title-heading">
        <a href="{{ path('product_brand_add') }}" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Ajouter</a>
        <h1 class="text-center">Liste des Marques de produit</h1>
    </div>
    {% include '@DyweeProductBundle/Brand/miniTable.html.twig' %}
{% endblock %}
