{# Dywee\OrderBundle\Resources\View\Order\rentMiniTable.html.twig #}

    {% if orderElementList|length() > 0 %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>User</th>
                    <th>Statut</th>
                </tr>
                </thead>
                <tbody>
                {% for orderElement in orderElementList %}
                    <tr>
                        <td>{{ orderElement.id }}</td>
                        <td>{{ orderElement.beginAt|date('d/m/Y') }}</td>
                        <td>{{ orderElement.endAt|date('d/m/Y') }}</td>
                        <td>
                            {% if orderElement.order.billingUser is not null %}
                                {{ orderElement.order.billingUser.name }}
                            {% else %}
                                NC
                            {% endif %}
                        </td>
                        <td>{% set order = orderElement.order %}{% include 'DyweeOrderBundle:Order:state_label.html.twig' %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <p>Aucune commande n'a été enregistrée.</p>
    {% endif %}