{% if product.state == 0 %}
    <span class="label label-warning">Indisponible</span>
{% elseif product.state == 1 %}
    <span class="label label-success">Disponible</span>
{% elseif product.state == 2 %}
    <span class="label label-warning">Bientôt disponible</span>
{% elseif product.state == 3 %}
    <span class="label label-info">Seulement disponible en magasin</span>
{%  endif %}