{# Dywee\EshopBundle\Resources\View\Feature\add.html.twig #}

{%  extends "DyweeProductBundle::admin.html.twig" %}

{% block metaTitle %} Creation d'une caractéristique produit - {{ parent() }} {% endblock %}

{% block body %}
    <div class="title-heading">
        <h1>Nouvelle caractéristique</h1>
    </div>

    {% include "DyweeProductBundle:Feature:form.html.twig" %}

{% endblock %}